[Unit]
Description=Launcher GUI
After=graphical.target
Wants=graphical.target

[Service]
User=admin
Environment="DISPLAY=:0.0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
ExecStart=/usr/bin/python3 /home/admin/project-blastpad/home/homeScreenGui.py
Restart=always

[Install]
WantedBy=graphical.target