[Unit]
Description=Launcher GUI
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=admin
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/admin/.Xauthority"
ExecStart=/bin/bash -c "export DISPLAY=:0; /usr/bin/python3 /home/admin/project-blastpad/home/homeScreenGui.py"
Restart=always

[Install]
WantedBy=graphical.target
