[Unit]
Description=Launcher GUI
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=blastpad
Environment="DISPLAY:=0 XAUTHORITY=/home/blastpad/.Xauthority"
ExecStart=/bin/bash -c "cd /home/blastpad/project-blastpad && DISPLAY:=0; /usr/bin/python3 /home/blastpad/project-blastpad/home/gui.py"
Restart=always

[Install]
WantedBy=default.target
